
$navfg: #ffffff;
$navbg: #810000;

$lightbg: #eeebe9;
$contbg: #ffffff;

$rowstripe:grey;
$datarowbg: darken(#f3f3f3,10%);

$lyricscellbg: #A4B6AA;

$commentheaderbg: $datarowbg;

@mixin datahiglight{
    background: lighten($navbg,10%);
    color: $navfg;
}
