// Sanojen löytymisen indikointi ja sanojen näyttö

.lyrics{
    padding:0;
    margin-left:0;

    li {
        list-style-type:none;
        display:flex;
        flex-flow:row nowrap;
        align-items: center;

        & + li {
            margin-top:1em;
        }

        div:first-child{
            margin-right:0.5em;
        }
    }

    textarea{
        width:70%;
        min-height:60vh;
    }

}

.below_lyrics{
    display: none;
}

.insert_box{
    font-size:0.7em;
    font-style:italic;
}

.has_lyrics{

    &:before{
        font-family: FontAwesome;
        content: "\f00c";
        margin-right:0.5em;
        color: green;
    }

}

.no_lyrics{

    &:before{
        font-family: FontAwesome;
        content: "\f00d";
        margin-right:0.5em;
        color: red;
    }

}


.no_indicator{

    &:before{
        font-family: FontAwesome;
        content: "\f00d";
        visibility:hidden;
        margin-right:0.5em;
    }

}

.lyrics_actions{
    margin-top:0.4em;
    margin-bottom:0.4em;
    list-style-type:none;
    padding:0;
}

.song_title{
    font-weight: bold;
}

.songlist_subcat .lyrics{
    font-style:italic;
    font-size:0.7em;
}
