node_modules
*phpdoc-cache*
phpDocumentor.phar
docs/php/graphs/
docs/php/reports/
config.ini
.sass-cache
*.*~
*virsi_1*txt
*virsi_2*txt
*virsi_3*txt
*virsi_4*txt
*virsi_5*txt
*virsi_6*txt
*virsi_7*txt
*virsi_03*txt
*virsi_04*txt
*virsi_05*txt
*virsi_06*txt
*virsi_07*txt
*virsi_08*txt
*virsi_09*txt
