<phpunit bootstrap="tests/bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="unit tests">
            <file>tests/select.php</file>
            <file>tests/servicelist.php</file>
            <file>tests/servicedetails.php</file>
            <file>tests/presentation.php</file>
            <file>tests/service_structure.php</file>
            <file>tests/slides.php</file>
            <file>tests/songs.php</file>
        </testsuite>
    </testsuites>
</phpunit>
