.loginpage{

    background:white;

    h1{
        font-family:$gloria;
        font-size:2em;
        max-width:100%;
        max-height:100%;
        margin-bottom:1em;
    }

    main{
        width:100vw;
        height:100vh;
        display:flex;
        justify-content: center;
        align-items: center;
        position: relative;
        overflow:hidden;

        .login-details{
            display:flex;
            flex-flow:row wrap;
            justify-content:center;
            align-items:flex-end;

            >div:not(.button_container){
                min-width:10em;
                margin-right:3em
            }

            >div:first-child{
                //margin-right:3em;
            }
            >div:nth-child(2), >div:nth-child(3){
                margin-top:1em;
            }

            >div:nth-child(3){
                flex-basis:70%;
                margin-left:1.2em;
                @media only screen and (min-width: 920px){
                    flex-basis:auto;
                    margin-left:auto;
                }
            }
        }

        .logincontent{
            z-index:0;
            display:flex;
            flex-flow:column;
            align-items:center;
            justify-content: center;
            overflow-x:hidden;
            overflow-y:hidden;
            height:200vh;
            //HACK: mahdollistetaan ilmoituksenlisäysdivin näkyminen tarpeeksi
            //padding-bottom:50em;
        }

        @media only screen and (min-width: 920px){

            overflow-y:hidden;
            height:auto;

            .nav_options ul li {
                max-width:22em;
            }

            .logincontent{
                z-index:0;
                height:100%;
            }

            h1{
                font-family:$gloria;
                font-size:6em;
                max-width:100%;
                max-height:100%;
            }

            .login-details{
                >div:nth-child(2){
                    margin-top:0px;
                    margin-left:2em;
                }
            }

            .button_container{
            }

        }


    }


}

.nav_options{
    ul{
        margin-top:-1em;
        list-style-type:none;
        display:flex;
        flex-flow: row wrap;
        padding-left:1em;
        margin-left:1em;
    }

    li{
        display:flex;
        align-items:center;
        justify-content:center;
        border-radius:20px;
        background: lighten($navbg, 80%);
        padding:1em;
        margin:0.5em;
        font-size:0.7em;
        @include pointer;
        border: 1px solid lighten($navbg, 43%);

        &:hover{
            background: lighten($navbg, 10%);
            color:white;
        }
    }

    li + li {
        //margin-top:1em;
        margin-left:1em;
    }

    li.nohover {
        background: lighten($navbg, 80%);

        &:hover{
            background: lighten($navbg, 80%);
            color:$navbg;
        }
    }


}


.limit_width{
    max-width:9em;
}

.login_iframe{
    position:absolute;
    z-index:99999;
    width:100vw;
    height:100vh;
    border:0;
}

#add_info{
    section{
        padding:1em;
        //width:90%;
        textarea{
            height:12em;
        }

        li{
            display:flex;
            align-items:center;
            justify-content:space-around;
            border-radius:0px;
            background: none;
            padding:0em;
            margin:0.0em;
            font-size:0.7em;
            max-width:9em;
            border: none;

            &:hover{
                color:$navbg;
            }
        }

    }
}

