@charset "utf-8";
//Google fonts

@import url('https://fonts.googleapis.com/css?family=Lustria|Noto+Serif|Gloria+Hallelujah|Amatic+SC|Poiret+One|Quicksand|Open+Sans|Raleway|Playfair+Display|Josefin+Slab');

$josephin:  'Josefin Slab', serif;
$playfair: 'Playfair Display', serif;
$raleway: 'Raleway', sans-serif;
$quicksand: 'Quicksand', sans-serif;
$poiret: 'Poiret One', cursive;
$amatic: 'Amatic SC', cursive;
$gloria: 'Gloria Hallelujah', cursive;
$lustria: 'Lustria', serif;
$roboto: 'Roboto', sans-serif;
$opensans: 'Open Sans', sans-serif;

$datafontsize: 1.0em;
$basefontsize: 1.0em;

