.slidemodel{
    position:relative;
    left:-10px;
    padding-left:0.4em;
}

.slidemodel-flex{
    display:flex;
    flex-flow:column;
    >div textarea{
        width:90%;
        min-height:7em;
    }
    margin-bottom: 2em;
}

.slidemodel-flex-column{
    display:flex;
    flex-flow:column;
    >div{
        flex:1 1;
        display:flex;
        div:first-child{
            width:8em;
        }
    }
    >div + div{
        margin-top:1em;
    }
}

.small_label{
    font-size:0.8em;
    div:first-child{
        margin-bottom:0.4em;
    }
}
