@charset "utf-8";
//Sivupohjan perusasettelu
body, html{
    margin:0;
    padding:0;
    border:0;
}


nav{
    color:blue;
}


header{
    width:100%;
    background:white;
    top:0;
    position:absolute;
    padding-bottom:0.1em;
    overflow:hidden;
    display:flex;
}


aside{
    height:100vh;
    background:white;
    left:0;
    position:absolute;
    padding-left:0.2em;
    overflow:hidden;
    display:flex;
}

footer{
    position:absolute;
    bottom:0;
    width:100%;
    background:white;
    color:black;
    height:5vh;
    overflow:hidden;
}

