@charset "utf-8";
//Sivupohjan perusasettelu

body, html{
    margin:0;
    padding:0;
    border:0;
    overflow-x:hidden;
}

main{
    position: relative;
    overflow:hidden;
    display:flex;
    min-height:100vh;
    flex-flow: row nowrap;
    align-items:top;
    justify-content:space-between;
    overflow-x:hide;
    background:$mainbg;
}

.container{
    max-width:600px;
    margin:auto;
}

