@charset "utf-8";
//Navigointipalkki

nav{
    position:relative;
    display:flex;
    flex-flow:row;
    align-items: center;
    align-content:flex-start;
    justify-content:space-between;
    width:100%;
    height:$navheight;
            background: $navbg;
    overflow-y:hidden;

    ul{
        padding:0;
        margin:0;
    }

    li{
        padding-top:1em;
        padding-bottom:1em;
        padding-left:0.4em;
        padding-right:0.4em;
        display:inline;
        list-style-type:none;
    }

    a{
        color:$navlink;
        text-decoration:none;
        font-size:0.9em;
    }

    li:hover, li.activetab{
        background:$navhlbg;
        a{
            color:$antinavlink;
        }
    }

    li.active-menutab{
        background:$navhlbg;
        a{
            color:$antinavlink;
        }
    }


}

.nav_below{
    padding-left:1em;

    background: lighten($navbg,35%);
    font-size:0.8em;
    justify-content:center;

    a{
        color:darken($navlink,10%);
        text-decoration:none;
        font-size:0.9em;
    }

    h4{
        color:#ffff5e;
        margin-right:2em;
    }

}


.menu-close{

    ::before{
        content:"▶";
    }
} 
.menu-open{

    ::before{
        content:"▼";
    }
}

