
.fa-pencil, .fa-eye, .fa-trash, .fa-plus{
    @include pointer;
}

.my-lightbox input[type='text']{
    outline: none;
    border: none;
    border-bottom: 1px dashed lighten($navbg,32%);
    font-family: $inputfont;
    color: darken($datarowbg, 40%);
}

.editable_data_list{
    // li-elementit, joiden toisena osana muokattavat tiedot
    padding:0;

    input{
        outline: none;
        border: none;
        border-bottom: 1px dashed lighten($navbg,32%);
        font-family: $inputfont;
        color: darken($datarowbg, 40%);
    }

    li{
    
        font-size:1.1em;
        list-style-type:none;

        & + li{
            margin-top:1.0em;
        }

        display:flex;
        flex-flow:row wrap;


        div:first-child{
            display:inline-block;
            word-wrap:break-word;
            width:8em;
            margin-right:1em;
            margin-bottom:0.2em;
        }

        div:nth-child(2){
        }

    
    }


}

.label_parent{
    display:flex;
    flex-flow: row wrap;
    align-items:center;
    //justify-content: space-between;

    > div:first-child{
        width:6em;
        margin-right:1em;
        margin-bottom:0.5em; //wrapped items
    }

    & + & {

        margin-top:1em;
    
    }

}

.longinput{
    width:90%;
}

.small-label{
    font-size:0.7em;
}


.injected-data{
    select + select{
        margin-top:1em;
    }
}

.info-p{
    padding:0.3em;
    padding-left:1em;
    margin-top:0.6em;
}


.edit_icon{
    margin-left:0.4em;
}
