//Otsikkotyylit



h1, h2, h3, h4{
    font-family: $roboto;
}

header{
    //background:darken(white,10%);

    h1{
        font-family: $roboto;
    }

}


h2{
    padding-bottom:0.5em;
}

h3{
    //border-left:3px solid $navbg;
    //padding-left:1em;
    color:lighten(black,30%);
}

.byline h2{
    margin-left:2em;
    font-size:4em;
    color:white;
    font-family: $indieflower;
    //text-shadow: rgb(0, 0, 0) 2px 1px 1px;
}
