//Navigointipalkin ulkoasu

.covermenu a {
    color: $navbg;
    &:visited{
        color: lighten($navbg, 10%);
    }
}


nav{
    position:relative;
    height: $navheight;
    width:100%;
    background:$navbg;
    color: $navfg;
    display:flex;
    flex-flow:row nowrap;
    align-items: center;


    .menu-parent{
        position:relative;
    }

    .uppermenuitem{
        display:flex;
        align-items:center;
        height:100%;
        padding-left:0.5em;
        padding-right:0.5em;
    }

    .dropdown{
        z-index:5;
        position:absolute;
        display:none;
        height:200vh;
        width:80vw;
        background: darken($navfg,10%);
        top:$navheight;
        color:$navbg;
    }


    li{
        list-style-type:none;
        a{
            color: $navfg;

            i {
            
            color: $navfg;
            
            }
        }
    }
    .menu-child-upper{
                @include bottomshadow;
                display:none;
                position: absolute;
                margin-left:0;
                left:0;
                min-width:7em;
                padding-left:0px;
                padding-right:0px;
                background: darken($navfg,10%);
                color: $navbg;
                margin-top: 0px;
                z-index:200;
                li{
                    height:2em;
                    padding-left:3px;
                    display:flex;
                    align-items:center;
                    &:hover{
                        background:$navbg;
                        color:$navfg;
                    }
                }
                li:first-child{
                    //border-top:1px dashed $navbg;
                }
            }

    .menu-child{
        font-size:0.9em;
        li{
            margin-top:0.8em;
        }
    }

    .sidemenu-launcher{
        padding-left:0.4em;
        font-size:2em;
        margin-right:0.2em;
    }

    .on-right{
        &::after{
            content: "Kirjaudu ulos";
        }
    }

}



.menu-container{

    & > li + li {
        margin-top:1em;
    }
}



.covermenu{
    position:absolute;
    display:none;
    top:0;
    left:0;
    background:white;
    //transition: 4s;
    width:100%;
    height:100%;
    //padding:1em 0em 0em 2em;
    z-index:3;
    > div {
        padding:1em 0em 0em 2em;
    }
}

.hanging_menu{
    position:absolute;
    top:2em;
    left:0.3em;
    width:80%;
    //min-height:2em;
    background:white;
    border: 1px solid black;
    padding:0.2em 1em 1em 1em;
    z-index:10;
    @include shadow;
}

.closer_div{
    margin: 1em 0 1em 0;
}

a i {
    color:darken($datarowbg,40);
}

.active-menu{
    background: darken($navfg,10%);
    color: $navbg;
}


.lowermenuitem{
    display:none;
}

@include hamburger-icon($navfg, $navheight - 5px);


@media only screen and (min-width: 920px){


    nav{


        .fa-bars, .uppermenuitem{
            display:none;
        }



        .dropdown{
            height:100%;
            margin-top:0px;
            top:0px;
            display: block;
            position:relative;
            background: none;
            & > ul{
            }
        }

        .menu-parent{
            position:relative;
        }

        .menu-child, .menu-child-upper{
            @include bottomshadow;
            position: absolute;
            margin-left:0;
            left:0;
            min-width:7em;
            padding-left:0px;
            padding-right:0px;
            background: darken($navfg,10%);
            color: $navbg;
            z-index:200;
            li{
                height:2em;
                padding-left:3px;
                display:flex;
                align-items:center;
                &:hover{
                    background:$navbg;
                    color:$navfg;
                }
            }
            li:first-child{
                //border-top:1px dashed $navbg;
            }
        }

    }

    .menu-container{
        height:100%;
        margin:0;

        & > li {
            height:100%;
            display:inline-flex;
            align-items:center;
            margin-left: 10px;
            //min-width:7em;
            padding-left:2px;
            padding-right:2px;

            &:not(.no-menu):hover{
                @include pointer;
                background: darken($navfg,10%);
                color: $navbg;
            }
        }
    }

    .lowermenuitem{
        display:block;
    }

    .on-right{
        position:absolute;
        right:1em;
    }

}


a{

    .fa-arrow-left{
        margin-right:0.7em;
    }

}
