<article class="comment" id="c_{{{id}}}">
    <div class="commentheader"> <span>{{{theme}}}</span>  <span>{{{comment_time}}}</span> <span>{{{commentator}}}</span> </div>
    <div>{{{content}}}</div>
    <!--subchain begins -->
    {{{subchain}}}
    <!--subchain ends -->
    <div class="answercomment"><a href="javascript:void(0)" class="comment-answer-link">Vastaa kommenttiin</a></div>
    {{{comment-insert-controls}}}
</article>

