<!DOCTYPE html>
<html>
<head>
<meta http-equiv='Content-Type' content='text/html; charset=UTF-8'>
<meta name='viewport' content='width=device-width, initial-scale=1'>
<link rel="stylesheet" href="js/vendor/jquery-ui-1.12.1.custom/jquery-ui.min.css">
<link rel="stylesheet" href="stylesheets/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="stylesheets/main.css">
<script src="https://use.fontawesome.com/739896206a.js"></script>
<script src="js/vendor/jquery-3.2.1.min.js"></script>
<script src="js/vendor/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
<script src="js/vendor/jquery.ui.touch-punch.min.js"></script>
<script src="js/main.js"></script>
<title>[@title]</title>
</head>

<body class='{{{bodyclass}}}'>
<script src="http://cdnjs.cloudflare.com/ajax/libs/html-inspector/0.8.2/html-inspector.js"></script>

<div class='container'>
    <header>
        <h1>Majakkaportaali</h1>
    </header>
    <nav>
        <span class='hamburger hamburger-icon'></span>
        <div class='dropdown'>
            <ul>
                <li><a href="servicelist.php">Messulista</a></li>
                <li><a href="service_structure.php">Messupohjan asetukset</a></li>
                <li><a href="#">Messujen syöttö</a></li>
                <li><a href="#">Vastuiden syöttö</a></li>
                <li><a href="#">Kirjaudu ulos</a></li>
            </ul> 
        </div>
    </nav>
    <div class="byline">{{{byline}}}</div>
    <main>
 
        <div>{{{content}}}</div>

    </main>
</div>

</body>

</html>
