<div class="multisong-container slot-parent">
    <h3>{{{multisongheader}}}</h3>
    {{{songslots}}}
    <div class="multisongs ws">
        <input type="button" class="increaser" value="+"> <input type="button" class="decreaser" value="-">
    </div>
</div>
