<div class='navcorner'><a href='index.php'><i class='fa fa-home'></i></a></div>
<div class='menu-parent'><span class='menu-header'>Valitse messu</span>
    <ul class='menu-child show-options'>
    </ul>
</div>
