        <div class='sidemenu-launcher'><i class='fa fa-bars'></i></div>
        <div class='menu-parent uppermenuitem'><span class='menu-header'>Valitse rooli</span>
            <ul class='menu-child-upper show-options'>
            </ul>
        </div>
        <div class='dropdown'>
            <ul class='menu-container'>
                <li class='no-menu'><select id="season-select"></select></li>
                <li class='menu-parent lowermenuitem'><span class='menu-header'>Valitse rooli</span>
                    <ul class='menu-child show-options'>
                    </ul>
                </li>
                <li class='menu-parent'>Hallitse
                    <ul class='menu-child '>
                        <li class='covermenu-launcher covermenu-target_managelist'>Messuja
                            <input type='hidden' class='list_type'   value='Services'></input>
                            <input type='hidden' class='list_header' value='Messujen hallinta'></input>
                        </li>
                        <li class='covermenu-launcher covermenu-target_managelist'>Infodioja
                            <input type='hidden' class='list_type'   value='Infos'></input>
                            <input type='hidden' class='list_header' value='Infodiojen hallinta'></input>
                        </li>
                        <li class='covermenu-launcher covermenu-target_managelist'>Tapahtumia
                            <input type='hidden' class='list_type'  value='Events'></input>
                            <input type='hidden' class='list_header'value='Tapahtumien hallinta'></input>
                        </li>
                        <li class='covermenu-launcher covermenu-target_managelist'>Vastuita
                            <input type='hidden' class='list_type' value='Responsibilities'></input>
                            <input type='hidden' class='list_header' value='Vastuiden hallinta'></input>
                        </li>
                        <li class='covermenu-launcher covermenu-target_managelist'>Messukausia
                            <input type='hidden' class='list_type' value='Seasons'></input>
                            <input type='hidden' class='list_header' value='Messukausien hallinta'></input>
                        </li>
                        <li class="link_li covermenu-launcher covermenu-target_songlist"> Lauluja</li>
                        <li class='covermenu-launcher covermenu-target_managelist'>Kolehtikohteita
                            <input type='hidden' class='list_type' value='Offerings'></input>
                            <input type='hidden' class='list_header' value='Kolehtikohteiden hallinta'></input>
                        </li>
                        <li class="link_li" id="structure_launcher">Messupohjaa</li>
                    </ul>
                </li>
                <li>Käynnistä diaesitys</li>
                <li class='on-right'><i class='fa fa-sign-out'> </i></li>
            </ul> 
        </div>
