

<div class='servicelist_container'>


    <article>
        <div class="showmainlink_container monthly_list">
            <a href="javascript:void(0);" id="show_main_link">Palaa yleisnäkymään</a>
            <p>
            Tässä näkymässä voit muokata tai katsoa koko tätä messukautta yhden vastuun
            osalta. Muista tallentaa muutokset sivun alalaidan Tallenna-painikkeella.
            </p>
        </div>
         <ul id="servicelist" class="editable_data_list monthly_list">
         </ul>
         <div id='savebutton_container' class="monthly_list">
             <button id='savebutton' class='hidden'>Tallenna</button>
         </div>
    </article>

    <article class='added_slist_info'>
    
        <section class='added_infobox'>
            <h2>Tulevat tapahtumat</h2>
             <ul id="eventlist" class="editable_data_list">
             </ul>
        </section>

        <section class='added_infobox'>
            <h2>Aktiiviset pienryhmät</h2>
             <ul id="smallgrouplist" class="editable_data_list">
             </ul>
        </section>

        <section class='added_infobox'>
            <h2>Viimeisimmät kommentit</h2>
             <ul id="commentlist" class="editable_data_list">
             </ul>
        </section>

    
    </article>


</div>


<div id="managelist" class="covermenu">

    <div>

        <div class="hidden list_editor_box" id="list_editor">
            <!-- Yksittäisten lista-alkioiden muokkaus -->
            <div class='edit_container editable_data_list'></div>

        </div>
        

        <h2 class='list_header'></h2>

        <div class='description Services_description'>
            Tässä voit hallita (muokata tai poistaa) nykyisen messukauden messuja.
            Voit muuttaa kautta sivun ylälaidan pudotusvalikosta.
        </div>

        <div class='description Offerings_description'>
            Tässä näkymässä voit lisätä, muokata tai poistaa kolehtikohteita
            ja -tavoitteita.
        </div>

        <div class='description Events_description'>
            Tässä näkymässä voit lisätä ja muokata sellaisia yksittäisiä tapahtumia, jotka
            eivät ole messuja tai pienryhmien säännöllisiä kokoontumisia. 
        </div>

        <div class='description Seasons_description'>
            Tässä voit määrittää mesuskaudet: sen, mistä päivästä mihin kukin
            kausi kestää sekä lisäksi mahdolliset kausien teemat ym.
        </div>

        <div class='description Responsibilities_description'>
        </div>

        <div class='description Infos_description'>
            Tässä voit lisätä uuden infodian esimerkiksi tapahtumasta tai muokata 
            olemassaolevia infoja.
        </div>


        <div class='description Smallgroups_description'>
            Tässä voit lisätä tai muokata tällä messukaudella kokoontuvia
            pienryhmiä ja niiden tietoja.
        </div>


        <div class='description LiturgicalTexts_description'>
            Tässä voit lisätä dioissa näytettäväksi yhdessä lausuttavia
            tekstejä, kuten uskontunnustuken, isä meidän -rukouksen,
            synnintunnustuksia yms.
        </div>

        <div class='manageable_list'>
        </div>


    </div>

</div>
