

<div>


    <article>
         <ul id="servicelist" class="editable_data_list">
         </ul>
         <div id='savebutton_container'>
             <button id='savebutton' class='hidden'>Tallenna</button>
         </div>
    </article>


</div>


<div id="managelist" class="covermenu">

    <div>

        <div class="hidden list_editor_box" id="list_editor">
            <!-- Yksittäisten lista-alkioiden muokkaus -->
            <div class='edit_container editable_data_list'></div>

        </div>
        

        <h2 class='list_header'></h2>

        <div class='description Services_description'>
            Tässä voit hallita (muokata tai poistaa) nykyisen messukauden messuja.
            Voit muuttaa kautta sivun ylälaidan pudotusvalikosta.
        </div>

        <div class='description Events_description'>
        </div>

        <div class='description Seasons_description'>
        </div>

        <div class='description Responsibilities_description'>
        </div>

        <div class='manageable_list'>
        </div>


    </div>

</div>
