        <i class='fa fa-bars'></i>
        <div class='menu-parent uppermenuitem'>Valitse rooli
            <ul class='menu-child-upper' id='show-options'>
            </ul>
        </div>
        <div class='dropdown'>
            <ul class='menu-container'>
                <li><select id="season-select"></select></li>
                <li class='menu-parent'>Hallitse
                    <ul class='menu-child '>
                        <li class='covermenu-launcher covermenu-target_managelist'>Messuja
                            <input type='hidden' class='list_type'   value='Services'></input>
                            <input type='hidden' class='list_header' value='Messujen hallinta'></input>
                        </li>
                        <li class='covermenu-launcher covermenu-target_managelist'>Tapahtumia
                            <input type='hidden' class='list_type'  value='Events'></input>
                            <input type='hidden' class='list_header'value='Tapahtumien hallinta'></input>
                        </li>
                        <li class='covermenu-launcher covermenu-target_managelist'>Vastuita
                            <input type='hidden' class='list_type' value='Responsibilities'></input>
                            <input type='hidden' class='list_header' value='Vastuiden hallinta'></input>
                        </li>
                        <li class='covermenu-launcher covermenu-target_managelist'>Messukausia
                            <input type='hidden' class='list_type' value='Seasons'></input>
                            <input type='hidden' class='list_header' value='Messukausien hallinta'></input>
                        </li>
                        <li class="link_li" id="structure_launcher">Messupohjaa</li>
                    </ul>
                </li>
                <li>Käynnistä diaesitys</li>
                <li>Kirjaudu ulos</li>
            </ul> 
        </div>
