<div class="songslot {{{isparent}}} editable_data_list">
    <div>{{{category}}}</div>
    <div>
        <div> <input type="text" class="songinput " value="{{{value}}}"> </div>
        <!--  <div class="lyricsindicator"></div> -->
    </div>
</div>


