<div class="slotcontainer {{{isparent}}} editable_data_list">
    <input type="hidden" class='songdescription_val' value='{{{songdescription}}}'></input>
    <input type="hidden" class='is_multi_val' value='{{{is_multi}}}'></input>
    <input type="hidden" class='restriction_val' value='{{{restrictedto}}}'></input>
    <div  class='cont_name'>{{{category}}} <i class='fa fa-question-circle'></i></div> 
    <div class="songslots">
    </div>
</div>


