<!-- Yksittäinen laulu  --!>
    <section class='song {{{addedclass}}}'>

    {{{instruction}}}

    {{{header}}}

    <article class='{{{iscurrent}}}'>

        <input type="hidden" class='slot_name' value="{{{segment_name}}}"></input>
    <!-- <header>YLÄPALKKi</header> -->
        <h2>{{{title}}}</h2>
         <div class='byline'>
             <p>{{{composer}}}</p>
             <p>{{{lyrics}}}</p>
         </div>
    <!-- <footer>ALAPALKKi</footer> -->
    </article>

    {{{verses}}}


</section>

