
<div id="songlist" class="covermenu">


    <h2>Laulujen lista</h2>

    <section>
        <h3>Selaa lauluja</h3>

        <ul class="contentlist">
            <li class="closed subwindow-opener">Aakkosellinen luettelo</li>
            <li class="controller-subwindow">
                <ul id="songlist_alpha"></ul>
            </li>
            <li class="closed subwindow-opener">Kategoriat</li>
            <li class="controller-subwindow">
                <ul id=""></ul>
            </li>
            <li class="closed subwindow-opener">Teemat</li>
            <li>
                <ul id=""></ul>
            </li>
            <li class="closed subwindow-opener">Lauluntekijät</li>
            <li>
                <ul id=""></ul>
            </li>
        </ul>
    </section>

    <section>
        
        <h3>Tilastoja lauluista</h3>
    
    
    </section>



</div>
