

<div id="prepared_for_insertion" class="hanging_menu insert_box">
    <input type="hidden" class='song_id' ></input>
    <div class="lyrics_handle">
    <i class='fa fa-arrows'></i>
        <h4 class='song_title'>Laulun nimi</h4>
    </div>
    <div class="lyrics_view controller-subwindow"></div>
    <div class="attach_instructions">
        Lisää laulu messuun raahamalla tämä laatikko yllä olevasta
        nuolikuvakkeesta haluamaasi slottiin.
        (tai <a class='cancel_link' href="javascript:void(0);">peruuta</a>).
    </div>
</div>

