<!-- Yksittäinen laulu  --!>
    <section class='song {{{addedclass}}}'>


    {{{header}}}

    <article class='{{{iscurrent}}}'>

        <input type="hidden" value="{{{segment_name}}}"></input>
    <!-- <header>YLÄPALKKi</header> -->
        <h2>{{{title}}}</h2>
         <div class='byline'>
             <h3>{{{composer}}}</h3>
             <h3>{{{lyrics}}}</h3>
         </div>
    <!-- <footer>ALAPALKKi</footer> -->
    </article>

    {{{verses}}}

</section>

