//Jqueryn selectmenu-elementtiin liittyviä säätöjä

.other-option{
    justify-content:space-between;
    input{
        max-width:100px;
        margin-right:5px;
    }
}

.ui-selectmenu-menu,.ui-selectmenu-button{

    font-size:0.8em;
}

.songslot{

    .ui-selectmenu-menu, .ui-selectmenu-button{
        font-size:0.6em;
    }
}


.offering_details, .my-lightbox{

    .ui-selectmenu-menu, .ui-selectmenu-button{
        margin-top:0.3em;
        font-size:0.8em;
    }
}
