@charset "utf-8";
//Vasemmalta ilmestyvä menu sisällön lisäämistä varten

.side-menu-left, .side-menu-right{
    display:flex;
    flex-flow: column nowrap;
    min-height:99vh;
    min-width:30vw;
    flex:1 1 25%;
    background:lighten($navbg,35%);
    align-items:center;
    justify-contents:space-around;
    padding-top:1em;

    >div{
        width:97%;
        padding:0;
        position:relative;
        z-index:0;
    }


    .contentadder-heading{
        background:white;
        padding:0.2em;
    }

    textarea{
        width:95%;
        min-height:5em;
    }

    select{
        font-size:0.7em;
    }
}


.contentadder-open{
    padding:0.5em;
    background:lighten($navbg,70%);
    display:flex;
    flex-flow:column;
    align-items:stretch;
    > *,.selector-wrapper >*{
        margin-top:0.4em;
        margin-bottom:0.4em;
    }
}


.side-menu-left{
    color:$side-menu-text;
}

.contentadder{
    margin-top:0.5em;
}

.contentadder-heading:hover{
    background:black;
    color:white;
    @include pointer;
}
