// Perusasettelu ja elementtien rivitys suuremmille näytöille

@media only screen and (min-width: 920px){
    header{
        display:block;
    }


    .container{
        margin-top:10px;
        width:75%;
        @include shadow;

        //Lisää padding oletuksena kaikkien elementtien sisälle
        > * {
        padding-left:$contpadding;
        }

        nav, main{
            padding-left:0px;
        }

    }


    main{
        margin-top:2em;
    }

    .byline{
        padding-left:0px;
        display:block;
        width: 100%;
        height:10em;
        font-family: $indieflower;
    }

    .service_structure .byline{
        background:url(#{map-get($paths,"site") + "byline_servicestructure.png"});
    }

    .songs .byline, .servicedetails .byline{
        background:url(#{map-get($paths,"site") + "byline_songs.png"});
    }

    .inner-title{
        display:none;
    }

}
