// Perusasettelu ja elementtien rivitys mobile first -periaatteella

body{
    padding:0px;
    margin:0px;
    background: $lightbg;
}


header{
    display:none;
}

main{
    display: flex;
    flex-flow: column;
    align-items: stretch;
    form{
        //Form-tagit on syötettävä johonkin, mutta ne häiritsevät elementtien
        //järjestelyä
        width:100%;
        display:flex;
        justify-content: center;
    }
    >div, >section{
        display:flex;
        flex-flow:row;
        justify-content: center;
        margin-top:2em;
    }
}


.byline{
    display:none;
}

.container{
    display: flex;
    flex-flow: column wrap;
    width:100%;
    max-width:1180px;
    margin-left: auto;
    margin-right: auto;
    background: $contbg;
    min-height: 100vh;
}


