//Otsikkotyylit

h1, h2, h3, h4{
    font-family: $lustria;
}

h2{
    padding-bottom:0.5em;
    border-bottom: 1px solid grey;
}

h3{
    //border-left:3px solid $navbg;
    //padding-left:1em;
    color:lighten(black,30%);
}
