//Navigointipalkin ulkoasu

nav{
    position:relative;
    height: $navheight;
    width:100%;
    background:$navbg;
    color: $navfg;

    .dropdown{
        margin-top: $navheight;
        display: none;
    }

    li{
        list-style-type:none;
        a{
            color: $navfg;
        }
    }
}

.covermenu{
    position:absolute;
    display:none;
    top:0;
    left:0;
    background:white;
    transition: 4s;
    width:100vw;
    height:200vh;
    padding:1em 0em 0em 2em;
    z-index:10;
}

.hanging_menu{
    position:absolute;
    top:2em;
    left:0.3em;
    width:80%;
    //min-height:2em;
    background:white;
    border: 1px solid black;
    padding:0.2em 1em 1em 1em;
    z-index:10;
    @include shadow;
}

.closer_div{
    margin: 1em 0 1em 0;
}

a i {
    color:darken($datarowbg,40);
}


@include hamburger-icon($navfg, $navheight - 5px);


@media only screen and (min-width: 920px){


    nav{


        .hamburger{
            display:none;
        }

        li {
            //Näytä menu avattuna vaakasuunnassa, jos näyttö tarpeeksi iso
            display: inline;
        }

        li + li {
            margin-left: 10px;
        }

        .dropdown{
            margin-top:0px;
            display: block;
        }
    }
}
