//Laululista-spesifit tyylit

.songs .innercontent{
    flex-flow:row;
    justify-content: space-between;
}

.sideroller{
    display:flex;
    flex-flow:column;
    flex: 0 0 30%;
    margin-left:2em;
}


.versedata p{
    font-size:0.9em;
}

.data-middle{
    flex: 0 2 50%;
}

.data-left{
    flex: 0 1 20%;
}

.lyricsindicator{
    flex: 0 0 20%;
    padding-right:1em;
    padding-left:1em;
    border-left:1px solid grey;
}

.multisongs{
    margin-top:$rowtopmargin;
}

.songs .data-container{
}


