//Laululista-spesifit tyylit

.songs .innercontent{
    flex-flow:row;
    justify-content: space-between;
}

.sideroller{
    display:flex;
    flex-flow:column;
    flex: 3 0 30%;
    margin-left:2em;
    h2{
        border:none;
    }
}

.below-header{
    span:first-of-type{
        padding-right:1em;
    }
    span + span{
        padding-left:1em;
        border-left:1px solid $datarowbg;
    }
}

.songs .datarow{
    flex-flow:row nowrap;
}

.versedata p{
    font-size:0.9em;
}

.data-middle{
    flex: 0 3 40%;
    input, select{
        width:100%;
    }
}

.data-left{
    flex: 0 1 23%;
}

.lyricsindicator{
    flex: 0 0 20%;
    padding-right:1em;
    padding-left:1em;
    //border-left:1px solid grey;
    background: $lyricscellbg;
}

.multisongs{
    margin-top:$rowtopmargin;
}

.songs .data-container{
}


