
// The general list of services containing links to individual services

.monthly_list {
    padding-left:1.5em;
}

.service_link_li{

    padding:0.2em;
    border-radius:5px;

    &:hover{
        @include pointer;
        background: lighten($navbg, 30%);
        color:#ffffff;
        >span:first-child{
            color:#ffffff;
        }
    }

    span{
        font-size:0.95em;
    }

    >span:first-child{
        width:5em;
        margin-right: 0.5em;
        font-style:italic;
        color: darken($datarowbg, 30%);
    }

    >span:nth-child(2){
    }

}

.monthname {
    font-weight:bold;
}


.added_slist_info{
    //display:none;
}

article.added_slist_info{
    display:none;
}

.showmainlink_container{
    font-size:0.7em;
    font-style:italic;
    margin-top:1em;
}


@media only screen and (min-width: 920px){


    .servicelist_container{
        width:100%;
        display:flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        article + article{
            //margin-left:5em;
        }
        font-size:1.0em;

        >article:first-child{
            flex:0 0 50%;
        }
        padding-right:0.3em;

    }

    .added_slist_info{
    }

    .servicelist_container{
    }

    article.added_slist_info{
        font-size:0.7em;
        display:block;
        //flex-flow:row wrap;
        color: lighten(black,55%);


        section{
            background: lighten($navbg,80%);
            float:left;
            padding:1em;
            border-radius:5px;
            margin-left:3em;
            margin-top:2em;
            //height:fit-content;
        }

        h2 {
            font-weight:normal;
        }

    }

}

