
.closed{
    &::before{
    content: '\25BA';
    }
}

.opened{
    &::before{
        content: '\25BC';
    }
}

ul.contentlist{
    margin-left:0;
    padding-left:0px;

    > li{
        margin-left:0;
        padding-left:0;
        list-style-type:none;
        + li{
            margin-top:0.5em;
        }
    }
}
