.comments{
    margin-top:2em;
    textarea{
        width:100%;
    }
    .commentdetails{
        display:flex;
        flex-flow:row;
        justify-content:flex-start;
        padding-top:1em;
        div:nth-child(1), div:nth-child(2){
            flex:0 0 20%;
            margin-right:1em;
        }
    }
}
