//Esityksen rakenteen suunnittelussa käytettävät elementit

.structural-element-add{
    position:relative;
    ul{
        width:10em;
    }
}

.slidemodel{
    position:relative;
    left:-10px;
}

.slidemodel-flex{
    display:flex;
    flex-flow:column;
    >div textarea{
        width:90%;
        min-height:7em;
    }
    margin-bottom: 2em;
}

.slidemodel-flex-column{
    display:flex;
    flex-flow:column;
    >div{
        flex:1 1;
        display:flex;
        div:first-child{
            width:8em;
        }
    }
    >div + div{
        margin-top:1em;
    }
}

.structural-slots{
    padding-left:0;
}

.slot{
    position:relative;
    display:flex;
    border:1px solid $datarowbg;
    padding:0.5em;
    margin-bottom:0px;

    >div:not(:first-child):not(.last-child){
        margin-right:0.5em;
    }

    >div:first-child{
        width:1em;
    }

    >div:nth-child(2){
        flex: 1 1 auto;
    }
}

.drop-target{
    width:100%;
    height:1em; }

.drop-highlight{
//    margin:0.5em;
//    border:1px dashed darken($datarowbg,20);
//    padding:0.5em;
//    width:100%;
}

.drop-hide{
    *{
        color:lighten($datarowbg,5);
        border:lighten($datarowbg,5);
    }
}

.dragging{
}

//Div, jonka sisällä select-emenetti jolla määritellään dian luokka
.class-adder{
    position:relative;
}

.slide-section-controller{
    padding:0.2em;
    background:white;
}

.button-container{
    > button + button{
        margin-left:2em;
    }
}

.bibleslide > div {
    margin-bottom:2em;
    >div>span:first-child{
    }
}

.songslide{

    //h2{
    //    color:white;
    //    background:lighten($navbg,30%);
    //    margin-bottom:2em;
    //}

}


@media only screen and (min-width: 920px){

    .slidemodel-flex{
        display:flex;
        >div:first-of-type{
            flex:2 1 60%;
        }
        >div:nth-of-type(2){
            flex:1 1 40%;
        }
        >div textarea{
            width:90%;
            min-height:7em;
        }
        margin-bottom: 2em;
    }

}
