//Laululistan selausikkuna
.songlistview{
    display:none;
    .ui-menu{
        width:$uimenuwidth;
    }
    .ui-menu-divider{
        display:none;
    }
}

.songnames-container{
    display: flex;
    flex-flow: column wrap;
    max-height: 500px;
    width: 90%;
    justify-content: space-around;
    align-items: flex-start;
    align-content:flex-start;

    margin-top:2em;

    > div:not(.songname-select){
        margin-right:1em;
        margin-top:0.2em;
    }
}

//Kelluva valikko

.songname-select{
    position:absolute;

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;

    padding:0.5em;

    z-index:10;
    background: white;
    border:1px solid darken($datarowbg, 10%);
    @include shadow;
}

.songname-select-option{
    flex: 0 0 1.2em;
    background: white;
    width:100%;
    margin-top:0.5em;
    padding:0.2em;
}

.songname-select-option:hover, .songrole-select div:hover{
    @include pointer;
    background:black;
    color:white;
}

//Käytä laulua -valikko
.songrole-select{
    position:absolute;
    z-index:20;
    display:flex;
    flex-flow:row wrap;
    
    div{
        background:white;
        padding:0.4em;
        margin:0.5em;
        color:black;
        margin:0.3em;
    }
}

//Ei-aktiivisen sisällön hämärrin
.blurcover{
    position:absolute;
    background:$blurcolor;
    z-index:1;
}

