//Laulujen perusnäkymän css

.multisong-container{
    margin-top:$rowtopmargin;
    padding:0.3em;
    border:1px solid $datarowbg;
    margin-bottom:1em;
}

.songslot_wating{
    background:yellow;
}


.songslot_taking{

    background:grey;
    color:white;

}

.songslot{
    width:100%;
    display:flex;
    flex-direction:column;
    margin: 1em auto 1em auto;
    border-radius:10px;
    border:1px solid #a7a7a7;
    padding:1em;
    & > div:first-child{
        margin-bottom:0.8em;
        font-family: $os_condensed;
    }

}

.songslot_info{
    font-size:0.7em;
    margin-top:0.4em;

}


.lyricsindicator{
    background: $lyricscellbg;
    padding:0.2em;
    flex:1 1 25%;
    margin-left:1em;
}

.songinput{
    width:100%;
}
