//Taulukon kaltainen mutta joustavampi ratkaisu varsinaisen datan esittämiseen


.data-container{
    display:flex;
    flex-flow:column;
    align-items:stretch;
    font-size:$datafontsize;
    @media only screen and (min-width: 920px){
        //padding-left:3em;
    }
}



.datarow{
    display:flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    flex: 0 0 auto;
    align-items: stretch;
    background: $datarowbg;
    border-radius:2px;
    
    div:first-child{
        padding-left: 0.5em;
        padding-right: 0.5em;
    }

    > div{
        padding-top: 0.2em;
        padding-bottom: 0.2em;
        display: flex;
        align-items: center;
    }

    + .datarow, .multisongcontainer{
        margin-top:$rowtopmargin;
    }
}

.datarow:hover{
    @include pointer;
    @include datahiglight;
    .songinput{
        color:white;
    }
}


.data-wide{
    flex: 0 1 80%;
}

.data-narrow{
    flex: 0 0 10%;
}
 

@media only screen and (min-width: 920px){
    .innercontent{
        //Enemmän marginaalia isoille näytöille
        //flex: 0 0 $tablewidth - 20%;
    }
}



