//Taulukon kaltainen mutta joustavampi ratkaisu varsinaisen datan esittämiseen


.data-container{
    display:flex;
    flex-flow:column;
    align-items:stretch;
    flex: 0 0 90%;
    font-size:$datafontsize;
}

.datarow{
    display:flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    flex: 0 0 3em;
    align-items: center;
    background: $datarowbg;
    
    div:first-child{
        padding-left: 0.5em;
        padding-right: 0.5em;
    }

    + .datarow{
        margin-top:0.7em;
    }

}

.data-wide{
    flex: 0 1 80%;
}

.data-narrow{
    flex: 0 0 10%;
}
 
@media only screen and (min-width: 920px){
    .data-container{
        flex: 0 0 70%;
    }
}



